.blogdetails {
    background: white;
    padding: 30px;
}

.blogdetails article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogdetails img {
    width: 30%;
    cursor: pointer;
}

.blogdetails img:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

.blogdetails h2 {
    padding: 20px;
    font-family: cursive;
}

.blogdetails p {
    line-height: 25px;
    padding: 10px;
}

.blogdetails .share {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.blogdetails .share .socials {
    font-size: 30px;
    display: flex;
}